@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Outfit:wght@400;700&family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cookie", cursive;
  font-family: "Outfit", sans-serif;
  font-family: "Poppins", sans-serif;
}

html{
  scroll-behavior: smooth;
}
body {
  // overflow-x: hidden;
  // scroll-behavior: smooth;

  @media screen and (min-width:780px) {
    cursor: none;
  }
}

::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

//Home------------------------------------------------------------
.home {
  // width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

//Nav---------------------------------------------------------------
nav {
  width: 96vw;
  max-width: 1600px;
  border-radius: 25px;
  transition: all 0.5s ease;
  height: 95px;
  //   overflow: hidden;
  z-index: 12;

  .desktop-nav {
    li {
      list-style: none;
      display: inline-block;
      margin: 0 10px;
      cursor: none;
      font-size: 24px;
      color: $darkgray;
      transition: all 0.3s ease;
    }

    @media screen and (max-width: 980px) {
      // display: none;
      li {
        font-size: 20px;
      }
    }
    @media screen and (max-width: 855px) {
      display: none;
    }
  }

  .mobile-nav {
    display: none;
    @media screen and (max-width: 855px) {
      display: flex;
      transition: all 0.5s ease;
      // height: 600px;
    }
    li.hamburger {
      height: 30px;
      overflow: hidden;
      cursor: pointer;
      // color: $purple;
      span {
        height: 4px;
        background-color: $orange;
        // margin-bottom: 8px;
        border-radius: 2px;
        transition: all 0.3s ease;
      }
    }
  }

  .mobile-links {
    li {
      color: $darkgray;
      font-size: 24px;
    }
  }
}

nav.active {
  height: auto;
  // overflow: visible;
  // transition: all 5s ease;
}

.btn-primary {
  background-color: $orange;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 7px 20px;
  font-weight: 550;
  cursor: none;
}