@import "variables";

.hero {
  // overflow-x: hidden;
  scroll-snap-align: start;
  min-height: 100vh;

  @media screen and (max-width: 855px) {
    min-height: fit-content;
    padding-bottom: 100px;
  }
  .carousel {
    overflow: hidden;

    @media screen and (max-width: 855px) {
      margin-top: 100px;
    }
    .carousel-item {
      flex: 1;
      transition: transform 1s ease;
      transform: translateX(0%);

      .text-container {
        h1 {
          color: $purple;
        }
        p {
          color: $darkgray;
        }
      }

      @media screen and (max-width: 855px) {
        flex-direction: column-reverse;
        .text-container {
          width: 100%;
          padding: 20px 20px;
        }
        .svg-container {
          width: 100%;
        }
      }
    }
    .carousel-item.active1 {
      transform: translateX(-100%);
    }

    .carousel-item.active2 {
      transform: translateX(-200%);
    }

    .carousel-item.active3 {
      transform: translateX(-300%);
    }

    .carousel-item.active4 {
      transform: translateX(-400%);
    }

    .carousel-item.active5 {
      transform: translateX(-500%);
    }
  }

  .indicators {
    span {
      background-color: $lightgray;
      margin: 5px;
    }
    span.active {
      background-color: $orange;
      height: 15px;
      width: 15px;
      border: 3px solid #fff;
      box-shadow: 0 0 0 1px $orange;
      text-align: center;
      line-height: 15px;
      animation: rotateClockwise 3s linear infinite;
    }
    @keyframes rotateClockwise {
      0% {
        box-shadow: 1px 0px 0 0 $orange;
      }
      100% {
        transform: rotate(360deg);
        box-shadow: 1px 0px 0 0 $orange;
      }
    }
  }
}
